<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	 <link rel="stylesheet" href="/stylesheets/main.css">

    <title>Hello, world!</title>
  </head>
  <body>
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/">YelpCamp</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<%if(!currentUser) { %>
				<li class="nav-item"><a class="nav-link" href="/login">LogIn</a></li>
				<li class="nav-item"><a class="nav-link" href="/register">SignUp</a>
			<% }else { %>
				<li class="nav-item"><a class = "nav-link" href="#"><%=currentUser.username%></a></li>
				<li class="nav-item"><a class="nav-link" href="/logout">LogOut</a></li>
			<% } %>
		</ul>
	  </div>
	</nav>
	<% if(error.length > 0) { %> 
	<div class="alert alert-danger container mt-3" role="alert"><%=error%></div>
	<% } %>
	<% if(success.length > 0) { %>   
	<div class="alert alert-success container mt-3" role="alert"><%=success%></div>
	<% } %>