<%- include("partials/header") %>

<div class="container mt-5 border p-5 rounded" style="width: 40%">
	<h1 style="text-align: center">Login into your account</h1>

	<form action="/register" method="post" class="mt-4">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<%- include("partials/footer") %>